body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}


html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  opacity: 1;
  transition: background-color 0.3s;
}

header .logo {
  width: auto;
  height: 50px;
  filter: brightness(0) invert(1);
}

.dark-mode .header .logo {
  filter: brightness(1) invert(0);
}

.dark-mode {
  background-color: #222;
  color: #fff;
}

.button-pair {
  display: flex;
  gap: 5px;                
  margin-left: auto;
  margin-right: 10px;       
}


.button-pair .contact-button {
  margin: 0; 
  border-radius: 0; 
}

.button-pair .contact-button:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.button-pair .contact-button:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}


.contact-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap;           
  width: auto;                    
  text-align: center;
}


.contact-button:hover {
  background-color: white;
  color: black;
}

#fullpage {
  position: relative;
}

.section {
  height: 100vh;
}

.landing-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #121111;
  color: #fff;
}

.landing-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-text {
  text-align: left;
  margin-left: 8em;
  max-width: 50%;
}

.landing-image {
  flex-basis: 45%;
  margin-right: 8%;
}

.landing-page img {
  transition: transform 0.1s ease-in-out;
}

.landing-page img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.landing-image img {
  width: 100%;
  height: auto;
}

.landing-page h1 {
  font-size: 3em;
  margin-bottom: 0;
}

.landing-page h2 {
  font-size: 4em;
  margin-bottom: 10px;
}

.sub-text {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.landing-page p {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

.icons a {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: transform 0.2s;
}

.icons i {
  font-size: 40px;
  color: #fff;
}

.icons a:hover {
  transform: scale(1.2);
}

.scroll-down-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.arrow-icon {
  font-size: 24px;
  margin-bottom: 5px;
}

.scroll-down-text {
  writing-mode: vertical-lr;
}

.scroll-down-container:hover .arrow-icon {
  font-size: 26px;
  cursor: pointer;
}

.scroll-down-container:hover .scroll-down-text {
  font-size: 16px;
  cursor: pointer;
}

.bio-page {
  display: flex;
  align-items: center;
  background-color: #121111;
}

.description .location-text {
  font-size: 25px !important;
  color: #999;
}

.bio-page .profile-photo {
  width: 30%;
  height: auto;
  border-radius: 50%;
  margin-left: 8%;
}

.bio-page .description h3 {
  font-size: 4.5em;
  color: white;
  font-family: 'Lato', sans-serif;
}

.bio-page .description p:first-of-type {
  font-size: 2.5em;
  text-align: center;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -4%;
}

.location .material-symbols-outlined {
  font-size: 35px !important;
}

.red {
  color: red;
  font-size: 50px;
  margin-right: 15px;
}

.bio-page .description p:nth-of-type(2) {
  font-size: 1em;
  text-align: center;
  margin-right: 11%;
  margin-left: 10%;
}

.bio-page .description {
  margin-left: 4%;
  margin-right: 5%;
  text-align: center;
  color: white;
  margin-top: -5%;
}

.tools-page {
  background-color: #121111;
}

.tools-description {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.tools-description h2 {
  font-size: 80px;
  color: white;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  margin-top: 10%;
}

.skills-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #c2c2c2;
  margin-top: -3%;
  margin-left: 25%;
  margin-right: 25%;
  font-family: 'Nunito', sans-serif;
}
.skills-text-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #c2c2c2;
  margin-top: -1%;
  margin-left: 25%;
  margin-right: 25%;
  font-family: 'Nunito', sans-serif;
}

img.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

img.greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  color: white;
}

.skill-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.projects {
  background: #121111;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slideshow-container {
  position: relative;
}


.mySlides {
  display: none;
}

.image {
  border-radius: 25px;
  overflow: hidden;
}

.mySlides .image-text {
  position: absolute;
  bottom: 50px;
  left: 25px;
  color: white;
  font-size: 22px;
}

.mySlides .image-text p {
  margin: 0;
  padding: 0;
}

.mySlides .image-text a {
  color: white;
  text-decoration: none;
}

.mySlides .image-text .yellow-link {
  color: rgb(213, 144, 6);
}

.mySlides .image-text .material-symbols-outlined {
  font-size: 18px;
  margin-left: 5px;
  vertical-align: middle;
}

.mySlides .image-text2 {
  position: absolute;
  bottom: 50px;
  right: 25px;
  color: white;
  font-size: 22px;
}

.mySlides .image-text2 p {
  margin: 0;
  padding: 0;
}

.mySlides .image-text2 a {
  color: white;
  text-decoration: none;
}

.mySlides .image-text2 .yellow-link {
  color: rgb(213, 144, 6);
}

.mySlides .image-text2 .material-symbols-outlined {
  font-size: 18px;
  margin-left: 5px;
  vertical-align: middle;
}

.mySlides .image-text a:hover {
  font-size: 23px;
}

.mySlides .image-text2 a:hover {
  font-size: 23px;

}

.intro-text h2 {
  font-size: 80px;
  margin-top: -10px;
  color: white;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.intro-text p {
  color: white;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}


.dots-container {
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.active,
.dot:hover {
  background-color: #373535;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.arrow {
  vertical-align: middle;
}

.arrow .material-symbols-outlined {
  color: white;
  margin: 0 10px;
  transition: transform 0.3s;
  cursor: pointer;
}

.arrow:hover .material-symbols-outlined {
  transform: scale(1.2);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.education-page {
  background-color: #121111;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.education-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -200px;
}

.education-description h2 {
  font-size: 80px;
  color: white;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.school-icon,
.terminal-icon {
  font-size: 44px;
  margin-right: 10px;
  color: white;
}

.education {
  padding-top: 50px;
}

.education h3 {
  margin: 0;
  color: white;
  font-size: 28px;
}

.education h4{
  font-size: 34px;
}

.education h4,
.education p {
  margin: 5px 0;
  color: white;
}

.education a {
  color: white;
  text-decoration: none;
}

.education a:hover {
  font-size: 20px;
}

.contact-page {
  background-color: #121111;
  position: relative;
}

.contact-description {
  display: flex;
  justify-content: center;
  align-items: center;

}

.contact-description h2 {
  font-size: 80px;
  color: white;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  margin-top: 10%;
}

.contact-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #c2c2c2;
  margin-top: -3%;
  margin-left: 25%;
  margin-right: 25%;
  font-family: 'Nunito', sans-serif;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 42%;
  margin-right: 42%;
  margin-top: 10%;
  color: white;
}

.contact-item {
  display: flex;
  margin: 10px;
  color: white;
}

.contact-item a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 22px;
}

.contact-item a i {
  margin-right: 8px;
  font-size: 22px;
}

.contact-item a:hover {
  color: #ffffff;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 49.5%;
  transform: translateX(-50%);
  text-align: center;
  background-color: #121111;
  color: white;
  padding: 10px 0;
  width: 100%;
}


.bottom .logo {
  width: auto;
  height: 20px;
  filter: brightness(0) invert(1);
  vertical-align: middle;
  margin-top: -3px;
}
